.home {
    width: 100%;
    height: 100vh;

}

.gif__background {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -0;
    filter: brightness(50%);
    top: 0;
}

.home-itens {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 25%;
}

.logo-img {
    width: 500px;
}

.year {
    position: absolute;
    top: -80px;
    left: 74%;
    font-size: 3.5rem;

    background: -webkit-linear-gradient(red, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.bi-play-fill {
    font-size: 3rem;
    position: relative;
    top: 10px;
}

.movie {

    background-color: red;
    padding: 15px;
    color: #fff;
    margin-right: 50px;
    transition: .5s;
}

.movie:hover {
    background-color: #fff;
    color: red;
}


.imdb {
    color: red;
    padding: 15px;
    background-color: #fff;
    transition: .5s;
}

.imdb:hover {
    color: #fff;
    background-color: red;
}


.botton__section {
    display: flex;
    position: relative;
    top: 50%;
    justify-content: space-evenly;
}

.icons {
    font-size: 2rem;

    color: rgb(255, 255, 255);
}

.icons i {
     margin-right: 20px;
}

.we {
    color:white;
}

.icons {
    position: relative;
    top: -10px;
}
