.logo {
    width: 150px;
    height: 120px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    z-index: 99;
    position: relative;
}

.nav-itnes {
    display: flex;
    gap: 50px;
    position: relative;
    top: 45px;
}

.nav-iten, .iten {
    list-style: none;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;

    transition: .5s;
}

.iten:hover {
    color: red;
}

.active {
    color: red;
}